AutoPP/app/Dashboard.Controls/Service References/WcfRequestService/Requests3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SharpArch.Core.DomainModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SharpArch.Core.DomainModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Entity">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityWithTypedIdOfint">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Entity" nillable="true" type="tns:Entity" />
  <xs:complexType name="EntityWithTypedIdOfint">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityWithTypedIdOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SharpArch.Core.DomainModel" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ValidatableObject">
        <xs:sequence>
          <xs:element name="_x003C_Id_x003E_k__BackingField" type="xs:int" />
          <xs:element name="cachedHashcode" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityWithTypedIdOfint" nillable="true" type="tns:EntityWithTypedIdOfint" />
  <xs:complexType name="ValidatableObject">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseObject">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ValidatableObject" nillable="true" type="tns:ValidatableObject" />
  <xs:complexType name="BaseObject">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="BaseObject" nillable="true" type="tns:BaseObject" />
</xs:schema>