AutoPP/app/Dashboard.Controls/Service References/WcfRequestService/Requests.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51038/Requests.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AutoPP.Core" />
  <xs:element name="GetRequests">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequestsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AutoPP.Core" minOccurs="0" name="GetRequestsResult" nillable="true" type="q1:ArrayOfRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>